
/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

/* Header styling */
header {
    text-align: center;
    padding: 20px;
}

/* Navigation bar styling */
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Main content styling */
main {
    padding: 20px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Image styling */
img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

/* Unordered list styling */
ul {
    padding-left: 20px;
}

ul li {
    font-size: 1.1em;
}

/* Footer styling */
footer {
    background-color: #72746f;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

hr {
    border-color: #706969;
    margin: 20px 0;
}